body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #e0e0e0;
    padding: 10px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .nav-brand {
    font-size: 1.5em;
    font-weight: bold;
}

.navbar .nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar .nav-links li {
    margin-right: 20px;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
}

input,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #00a357;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #e0e0e0;
    color: #00a357;
}

a {
    color: #1e90ff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#create-form {
    display: none;
}

.user-actions {
    display: flex;
    align-items: center;
}

.user-actions img {
    width: 24px;
    height: auto;
    margin-right: 5px;
}

.user-actions button {
    display: flex;
    align-items: center;
    background-color: #00a357;
    color: #fff;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}

.user-actions button:hover {
    background-color: #00a357;
}

.logout-button {
    margin-top: 20px;
}

.navbar .nav-logo {
    width: 300px;
    height: auto;
}

a {
    color:#00a357;
}

.navbar button:hover {
    background-color: white;
    color: #00a357;
}

.navbar .menu-icon {
    display: none;
}

.alert {
    width: auto;
    padding: 12px 16px;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 12px;
    font-size: 16px;
    font-family: 'Roboto', Arial;
  }
  
  .alert.alert-success {
    background-color: rgba(227, 253, 235, 1);
    border-color: rgba(38, 179, 3, 1);
    color: rgba(60, 118, 61, 1);
  }
  
  .alert.alert-info {
    background-color: rgba(217, 237, 247, 1);
    color: rgba(49, 112, 143, 1);
    border-color: rgba(126, 182, 193, 1);
  }
  
  
  .alert.alert-warning {
    background-color: rgba(252, 248, 227, 1);
    border-color: rgba(177, 161, 129, 1);
    color: rgba(138, 109, 59, 1);
  }
  
  .alert.alert-danger {
    background-color: rgba(248, 215, 218, 1);
    border-color: rgba(220, 53, 69, 1);
    color: rgba(114, 28, 36,1);
  }


@media only screen and (max-width: 1468px) {

    .navbar {
        justify-content: start;
    }

    .navbar .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #e0e0e0;
    }

    .navbar .nav-links.show {
        display: flex;
        margin-top: 45px;
    }

    .container.show-menu {
        margin-top: calc(37.5px * var(--link-count));
    }

    .navbar .nav-links li {
        margin-right: 0;
        text-align: center;
        width: 100%;
        text-align: left;
        margin-left: 20px;
        margin-bottom: 10px;
    }

    .navbar .menu-icon {
        display: block;
    }

    .user-actions {
        margin-left: auto;
    }

}

@media only screen and (max-width: 500px) {
    .nav-logo {
        content: url('/images/logo_3.png');
    }

    .navbar .nav-logo {
        height: 85px;
        width: auto;
    }
}
