body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #e0e0e0;
    padding: 10px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .nav-brand {
    font-size: 1.5em;
    font-weight: bold;
}

.navbar .nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar .nav-links li {
    margin-right: 20px;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
}

input,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #00a357;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #e0e0e0;
    color: #00a357;
}

a {
    color: #1e90ff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#create-form {
    display: none;
}

.user-actions {
    display: flex;
    align-items: center;
}

.user-actions img {
    width: 24px;
    height: auto;
    margin-right: 5px;
}

.user-actions button {
    display: flex;
    align-items: center;
    background-color: #00a357;
    color: #fff;
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}

.user-actions button:hover {
    background-color: #00a357;
}

.logout-button {
    margin-top: 20px;
}

.navbar .nav-logo {
    width: 300px;
    height: auto;
}

a {
    color:#00a357;
}

.navbar button:hover {
    background-color: white;
    color: #00a357;
}

.navbar .menu-icon {
    display: none;
}


@media only screen and (max-width: 1320px) {

    .navbar {
        justify-content: start;
    }

    .navbar .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #e0e0e0;
    }

    .navbar .nav-links.show {
        display: flex;
        margin-top: 45px;
    }

    .container.show-menu {
        margin-top: 300px;
    }

    .navbar .nav-links li {
        margin-right: 0;
        text-align: center;
        width: 100%;
        text-align: left;
        margin-left: 20px;
        margin-bottom: 10px;
    }

    .navbar .menu-icon {
        display: block;
    }

    .user-actions {
        margin-left: auto;
    }

}
